<?xml version="1.0" encoding="UTF-8"?>
<project name="springbootrabbitmq" default="all">
  
  
  <property file="springbootrabbitmq.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.war"/>
    <include name="*.swc"/>
    <include name="*.zip"/>
    <include name="*.egg"/>
    <include name="*.ear"/>
    <include name="*.ane"/>
    <include name="*.jar"/>
    <include name="*.klib"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.1.8" value="${jdk.home.1.8}/bin"/>
  <path id="jdk.classpath.1.8">
    <fileset dir="${jdk.home.1.8}">
      <include name="jre/lib/charsets.jar"/>
      <include name="jre/lib/deploy.jar"/>
      <include name="jre/lib/ext/cldrdata.jar"/>
      <include name="jre/lib/ext/dnsns.jar"/>
      <include name="jre/lib/ext/jaccess.jar"/>
      <include name="jre/lib/ext/jfxrt.jar"/>
      <include name="jre/lib/ext/localedata.jar"/>
      <include name="jre/lib/ext/nashorn.jar"/>
      <include name="jre/lib/ext/sunec.jar"/>
      <include name="jre/lib/ext/sunjce_provider.jar"/>
      <include name="jre/lib/ext/sunpkcs11.jar"/>
      <include name="jre/lib/ext/zipfs.jar"/>
      <include name="jre/lib/javaws.jar"/>
      <include name="jre/lib/jce.jar"/>
      <include name="jre/lib/jfr.jar"/>
      <include name="jre/lib/jfxswt.jar"/>
      <include name="jre/lib/jsse.jar"/>
      <include name="jre/lib/management-agent.jar"/>
      <include name="jre/lib/plugin.jar"/>
      <include name="jre/lib/resources.jar"/>
      <include name="jre/lib/rt.jar"/>
      <include name="lib/ant-javafx.jar"/>
      <include name="lib/dt.jar"/>
      <include name="lib/javafx-mx.jar"/>
      <include name="lib/jconsole.jar"/>
      <include name="lib/packager.jar"/>
      <include name="lib/sa-jdi.jar"/>
      <include name="lib/tools.jar"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.1.8}"/>
  <property name="project.jdk.bin" value="${jdk.bin.1.8}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.1.8"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.maven:_ch.qos.logback:logback-classic:1.2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar"/>
  </path>
  
  <path id="library.maven:_ch.qos.logback:logback-core:1.2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar"/>
  </path>
  
  <path id="library.maven:_com.alibaba:fastjson:1.2.61.classpath">
    <pathelement location="${path.variable.maven_repository}/com/alibaba/fastjson/1.2.61/fastjson-1.2.61.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus-annotation:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus-annotation/3.0-RC3/mybatis-plus-annotation-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus-boot-starter:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus-boot-starter/3.0-RC3/mybatis-plus-boot-starter-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus-core:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus-core/3.0-RC3/mybatis-plus-core-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus-extension:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus-extension/3.0-RC3/mybatis-plus-extension-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus-generator:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus-generator/3.0-RC3/mybatis-plus-generator-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.baomidou:mybatis-plus:3.0-rc3.classpath">
    <pathelement location="${path.variable.maven_repository}/com/baomidou/mybatis-plus/3.0-RC3/mybatis-plus-3.0-RC3.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.9.0.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-annotations/2.9.0/jackson-annotations-2.9.0.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-core:2.9.6.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-core/2.9.6/jackson-core-2.9.6.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.9.6.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-databind/2.9.6/jackson-databind-2.9.6.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.9.6.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.9.6/jackson-datatype-jdk8-2.9.6.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.9.6.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.9.6/jackson-datatype-jsr310-2.9.6.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.module:jackson-module-parameter-names:2.9.6.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/module/jackson-module-parameter-names/2.9.6/jackson-module-parameter-names-2.9.6.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml:classmate:1.3.4.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/classmate/1.3.4/classmate-1.3.4.jar"/>
  </path>
  
  <path id="library.maven:_com.github.jsqlparser:jsqlparser:1.2.classpath">
    <pathelement location="${path.variable.maven_repository}/com/github/jsqlparser/jsqlparser/1.2/jsqlparser-1.2.jar"/>
  </path>
  
  <path id="library.maven:_com.h2database:h2:1.4.197.classpath">
    <pathelement location="${path.variable.maven_repository}/com/h2database/h2/1.4.197/h2-1.4.197.jar"/>
  </path>
  
  <path id="library.maven:_com.jayway.jsonpath:json-path:2.4.0.classpath">
    <pathelement location="${path.variable.maven_repository}/com/jayway/jsonpath/json-path/2.4.0/json-path-2.4.0.jar"/>
  </path>
  
  <path id="library.maven:_com.rabbitmq:amqp-client:5.1.2.classpath">
    <pathelement location="${path.variable.maven_repository}/com/rabbitmq/amqp-client/5.1.2/amqp-client-5.1.2.jar"/>
  </path>
  
  <path id="library.maven:_com.vaadin.external.google:android-json:0.0.20131108.vaadin1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar"/>
  </path>
  
  <path id="library.maven:_com.zaxxer:hikaricp:3.2.0.classpath">
    <pathelement location="${path.variable.maven_repository}/com/zaxxer/HikariCP/3.2.0/HikariCP-3.2.0.jar"/>
  </path>
  
  <path id="library.maven:_javax.annotation:javax.annotation-api:1.3.2.classpath">
    <pathelement location="${path.variable.maven_repository}/javax/annotation/javax.annotation-api/1.3.2/javax.annotation-api-1.3.2.jar"/>
  </path>
  
  <path id="library.maven:_javax.servlet:javax.servlet-api:3.1.0.classpath">
    <pathelement location="${path.variable.maven_repository}/javax/servlet/javax.servlet-api/3.1.0/javax.servlet-api-3.1.0.jar"/>
  </path>
  
  <path id="library.maven:_javax.validation:validation-api:2.0.1.final.classpath">
    <pathelement location="${path.variable.maven_repository}/javax/validation/validation-api/2.0.1.Final/validation-api-2.0.1.Final.jar"/>
  </path>
  
  <path id="library.maven:_javax.websocket:javax.websocket-api:1.0.classpath">
    <pathelement location="${path.variable.maven_repository}/javax/websocket/javax.websocket-api/1.0/javax.websocket-api-1.0.jar"/>
  </path>
  
  <path id="library.maven:_junit:junit:4.12.classpath">
    <pathelement location="${path.variable.maven_repository}/junit/junit/4.12/junit-4.12.jar"/>
  </path>
  
  <path id="library.maven:_log4j:log4j:1.2.17.classpath">
    <pathelement location="${path.variable.maven_repository}/log4j/log4j/1.2.17/log4j-1.2.17.jar"/>
  </path>
  
  <path id="library.maven:_mysql:mysql-connector-java:5.1.46.classpath">
    <pathelement location="${path.variable.maven_repository}/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar"/>
  </path>
  
  <path id="library.maven:_net.bytebuddy:byte-buddy-agent:1.7.11.classpath">
    <pathelement location="${path.variable.maven_repository}/net/bytebuddy/byte-buddy-agent/1.7.11/byte-buddy-agent-1.7.11.jar"/>
  </path>
  
  <path id="library.maven:_net.bytebuddy:byte-buddy:1.7.11.classpath">
    <pathelement location="${path.variable.maven_repository}/net/bytebuddy/byte-buddy/1.7.11/byte-buddy-1.7.11.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:accessors-smart:1.2.classpath">
    <pathelement location="${path.variable.maven_repository}/net/minidev/accessors-smart/1.2/accessors-smart-1.2.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:json-smart:2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/net/minidev/json-smart/2.3/json-smart-2.3.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.commons:commons-lang3:3.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/commons/commons-lang3/3.0/commons-lang3-3.0.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.commons:commons-lang3:3.7.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/commons/commons-lang3/3.7/commons-lang3-3.7.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.logging.log4j:log4j-api:2.10.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/logging/log4j/log4j-api/2.10.0/log4j-api-2.10.0.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.logging.log4j:log4j-to-slf4j:2.10.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/logging/log4j/log4j-to-slf4j/2.10.0/log4j-to-slf4j-2.10.0.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-core:8.5.31.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-core/8.5.31/tomcat-embed-core-8.5.31.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-el:8.5.31.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-el/8.5.31/tomcat-embed-el-8.5.31.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-websocket:8.5.31.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-websocket/8.5.31/tomcat-embed-websocket-8.5.31.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.velocity:velocity-engine-core:2.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/velocity/velocity-engine-core/2.0/velocity-engine-core-2.0.jar"/>
  </path>
  
  <path id="library.maven:_org.assertj:assertj-core:3.9.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/assertj/assertj-core/3.9.1/assertj-core-3.9.1.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:javax-websocket-client-impl:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/javax-websocket-client-impl/9.4.11.v20180605/javax-websocket-client-impl-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:javax-websocket-server-impl:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/javax-websocket-server-impl/9.4.11.v20180605/javax-websocket-server-impl-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:websocket-api:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/websocket-api/9.4.11.v20180605/websocket-api-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:websocket-client:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/websocket-client/9.4.11.v20180605/websocket-client-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:websocket-common:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/websocket-common/9.4.11.v20180605/websocket-common-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:websocket-server:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/websocket-server/9.4.11.v20180605/websocket-server-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty.websocket:websocket-servlet:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/websocket/websocket-servlet/9.4.11.v20180605/websocket-servlet-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-annotations:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-annotations/9.4.11.v20180605/jetty-annotations-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-client:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-client/9.4.11.v20180605/jetty-client-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-continuation:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-continuation/9.4.11.v20180605/jetty-continuation-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-http:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-http/9.4.11.v20180605/jetty-http-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-io:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-io/9.4.11.v20180605/jetty-io-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-plus:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-plus/9.4.11.v20180605/jetty-plus-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-security:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-security/9.4.11.v20180605/jetty-security-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-server:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-server/9.4.11.v20180605/jetty-server-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-servlet:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-servlet/9.4.11.v20180605/jetty-servlet-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-servlets:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-servlets/9.4.11.v20180605/jetty-servlets-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-util:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-util/9.4.11.v20180605/jetty-util-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-webapp:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-webapp/9.4.11.v20180605/jetty-webapp-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jetty:jetty-xml:9.4.11.v20180605.classpath">
    <pathelement location="${path.variable.maven_repository}/org/eclipse/jetty/jetty-xml/9.4.11.v20180605/jetty-xml-9.4.11.v20180605.jar"/>
  </path>
  
  <path id="library.maven:_org.freemarker:freemarker:2.3.28.classpath">
    <pathelement location="${path.variable.maven_repository}/org/freemarker/freemarker/2.3.28/freemarker-2.3.28.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest-core:1.3.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest-library:1.3.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hamcrest/hamcrest-library/1.3/hamcrest-library-1.3.jar"/>
  </path>
  
  <path id="library.maven:_org.hibernate.validator:hibernate-validator:6.0.10.final.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hibernate/validator/hibernate-validator/6.0.10.Final/hibernate-validator-6.0.10.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.jboss.logging:jboss-logging:3.3.2.final.classpath">
    <pathelement location="${path.variable.maven_repository}/org/jboss/logging/jboss-logging/3.3.2.Final/jboss-logging-3.3.2.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.mockito:mockito-core:2.15.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mockito/mockito-core/2.15.0/mockito-core-2.15.0.jar"/>
  </path>
  
  <path id="library.maven:_org.mortbay.jasper:apache-el:8.5.24.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mortbay/jasper/apache-el/8.5.24.2/apache-el-8.5.24.2.jar"/>
  </path>
  
  <path id="library.maven:_org.mybatis:mybatis-spring:1.3.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mybatis/mybatis-spring/1.3.2/mybatis-spring-1.3.2.jar"/>
  </path>
  
  <path id="library.maven:_org.mybatis:mybatis:3.4.6.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mybatis/mybatis/3.4.6/mybatis-3.4.6.jar"/>
  </path>
  
  <path id="library.maven:_org.objenesis:objenesis:2.6.classpath">
    <pathelement location="${path.variable.maven_repository}/org/objenesis/objenesis/2.6/objenesis-2.6.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm-analysis:6.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/ow2/asm/asm-analysis/6.2/asm-analysis-6.2.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm-commons:6.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/ow2/asm/asm-commons/6.2/asm-commons-6.2.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm-tree:6.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/ow2/asm/asm-tree/6.2/asm-tree-6.2.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm:6.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/ow2/asm/asm/6.2/asm-6.2.jar"/>
  </path>
  
  <path id="library.maven:_org.projectlombok:lombok:1.16.22.classpath">
    <pathelement location="${path.variable.maven_repository}/org/projectlombok/lombok/1.16.22/lombok-1.16.22.jar"/>
  </path>
  
  <path id="library.maven:_org.skyscreamer:jsonassert:1.5.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/skyscreamer/jsonassert/1.5.0/jsonassert-1.5.0.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jul-to-slf4j:1.7.25.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/jul-to-slf4j/1.7.25/jul-to-slf4j-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:slf4j-api:1.7.25.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.amqp:spring-amqp:2.0.4.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/amqp/spring-amqp/2.0.4.RELEASE/spring-amqp-2.0.4.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.amqp:spring-rabbit:2.0.4.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/amqp/spring-rabbit/2.0.4.RELEASE/spring-rabbit-2.0.4.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-autoconfigure:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-autoconfigure/2.0.3.RELEASE/spring-boot-autoconfigure-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-configuration-processor:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-configuration-processor/2.0.3.RELEASE/spring-boot-configuration-processor-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-amqp:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-amqp/2.0.3.RELEASE/spring-boot-starter-amqp-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-jdbc:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-jdbc/2.0.3.RELEASE/spring-boot-starter-jdbc-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-jetty:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-jetty/2.0.3.RELEASE/spring-boot-starter-jetty-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-json:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-json/2.0.3.RELEASE/spring-boot-starter-json-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-logging:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-logging/2.0.3.RELEASE/spring-boot-starter-logging-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-test:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-test/2.0.3.RELEASE/spring-boot-starter-test-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-tomcat:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-tomcat/2.0.3.RELEASE/spring-boot-starter-tomcat-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-web:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-web/2.0.3.RELEASE/spring-boot-starter-web-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter/2.0.3.RELEASE/spring-boot-starter-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test-autoconfigure:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-test-autoconfigure/2.0.3.RELEASE/spring-boot-test-autoconfigure-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-test/2.0.3.RELEASE/spring-boot-test-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot:2.0.3.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot/2.0.3.RELEASE/spring-boot-2.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.retry:spring-retry:1.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/retry/spring-retry/1.2.2.RELEASE/spring-retry-1.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-aop:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-aop/5.0.7.RELEASE/spring-aop-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-beans:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-beans/5.0.7.RELEASE/spring-beans-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-context:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-context/5.0.7.RELEASE/spring-context-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-core:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-core/5.0.7.RELEASE/spring-core-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-expression:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-expression/5.0.7.RELEASE/spring-expression-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-jcl:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-jcl/5.0.7.RELEASE/spring-jcl-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-jdbc:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-jdbc/5.0.7.RELEASE/spring-jdbc-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-messaging:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-messaging/5.0.7.RELEASE/spring-messaging-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-test:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-test/5.0.7.RELEASE/spring-test-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-tx:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-tx/5.0.7.RELEASE/spring-tx-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-web:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-web/5.0.7.RELEASE/spring-web-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-webmvc:5.0.7.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-webmvc/5.0.7.RELEASE/spring-webmvc-5.0.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.xmlunit:xmlunit-core:2.5.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/xmlunit/xmlunit-core/2.5.1/xmlunit-core-2.5.1.jar"/>
  </path>
  
  <path id="library.maven:_org.yaml:snakeyaml:1.19.classpath">
    <pathelement location="${path.variable.maven_repository}/org/yaml/snakeyaml/1.19/snakeyaml-1.19.jar"/>
  </path>
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <fileset dir="${javac2.home}">
      <include name="javac2.jar"/>
      <include name="jdom.jar"/>
      <include name="asm-all*.jar"/>
      <include name="forms-*.jar"/>
    </fileset>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/common/module_common.xml"/>
  
  <import file="${basedir}/module_springboot-rabbitmq.xml"/>
  
  <import file="${basedir}/consumer/module_consumer.xml"/>
  
  <import file="${basedir}/producer/module_producer.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.common, clean.module.springboot-rabbitmq, clean.module.consumer, clean.module.producer" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.common, compile.module.springboot-rabbitmq, compile.module.consumer, compile.module.producer" description="build all modules"/>
  
  <target name="all" depends="build.modules" description="build all"/>
</project>